/* --- RESET --- */

html, body, header, strong, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* --- ELEMENTS --- */

body {
  font-family: 'Source Code Pro', sans-serif;
  color: rgba(251, 251, 249, 1);
  font-size: 25px;
  background: black;
  background-image: url('./portfolio_home_background');
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: rgba(251, 251, 249, 0.7);
}

a:visited {
  color: rgba(251, 251, 249, 0.7);
}

a:hover {
  opacity: 0.7;
}

strong {
  font-family: 'Archivo Black', sans-serif;
}

ul, li {
  list-style: none;
}

a.yellow {
  color: rgba(250, 211, 50, 0.7);
}

.yellow {
  color: rgba(250, 211, 50, 1);
}

/* --- UTILITIES --- */

.group:after {
  clear: both;
  display: table;
  content: "";
}

.hide {
	display: none;
}

/* --- HEADER --- */

.header-wrap {
  width: 100%;
}

.header {
  float: right;
  text-align: right;
  padding: 20px 60px 0 0;
}

/* contact (180, 110) */
/* projects (298, 28) */
/* home (450, 175) */

.contact {
  position: absolute;
  left: 102px;
  top: 75px;
  text-align: center;
}

.projects {
  position: absolute;
  left: 298px;
  top: 25px;
  text-align: center;
}

.home {
  position: absolute;
  left: 418px;
  top: 162px;
  text-align: center;
}

.name {
  font-size: 55px;
}

.fname, .lname {
  color: rgba(250, 211, 50, 1);
}

.slash {
  color: white;
}

.profession {
  margin: 5px;
}

.git {
  margin: 5px;
}

.git > a {
  color: rgba(251, 251, 249, 1);
}

.location {
  margin: 5px;
}

/* --- CONTENT --- */

.content {
  position: relative;
  width: 100%;
  height: auto;
  top: 214px;
}

.hometext-wrap {
  position: absolute;
  left: 50%;
  top: 31px;
  margin-left: -427px;
}

.hometext {
  background: url('portfolio_home_text.png') no-repeat;
  width: 854px;
  height: 285px;
}

.projects-wrap {
  position: absolute;
  left: 50%;
  top: 146px;
  margin-left: -400px;
  width: 800px;
  height: 160px;
  background: rgba(84, 84, 84, 0.5);
  border: 1px;
  border-radius: 7px;
}

.project-info {
  position: absolute;
  top: 40px;
  left: 200px;
}

.project-info > .title {
  font-size: 22px;
}

.contact-wrap {
  position: absolute;
  left: 50%;
  top: 146px;
  margin-left: -400px;
  width: 800px;
  height: 160px;
  background: rgba(84, 84, 84, 0.5);
  border: 1px;
  border-radius: 7px;
}

.contact-info {
  position: absolute;
  top: 40px;
  left: 200px;
}
