h2, h3 {
  margin: 0;
  color: #fff;
}

html {
  background: url(../images/wedding/background-2.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
}

.content {
  position: fixed;
  text-align: center;
  width: 750px;
  margin-left: -350px;
  top: 50%;
  left: 50%;
}

.content img {
  width: 750px;
  margin-bottom: -30px;
}

.content h2 {
  font-size: 44px;
}

.content h3 {
  font-size: 38px;
}
